
h1 {
  background-color: #1f9678;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(31, 150, 120, 0.25);
}

h2 {
  background-color: #1f9678;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(31, 150, 120, 0.25);
}